
// Displays
$mobile : 37.5rem;
$desktop : 144rem;

// Colores

    // Primarios
$dark-cyan: hsl(158,36%,37%);
$cream: hsl(30,38%,92%);

    // Neutrales
$very-dark-blue: hsl(212,21%,48%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// Fuentes
$monserrat: 'Montserrat', sans-serif;
$Fraunces: 'Fraunces', serif;

