@use "../base/variables" as v;
@use "../base/mixins" as m;
main{
    display: inline-block
}
.card {
  border-radius: 1rem;
  background-color: v.$white;
  width: v.$mobile;
  @include m.mobile{
      width: 70rem;
      display: flex;
      direction: column;
  }
}
.contenedor {
  max-width: 85%;
  margin: 0 auto;
  @include m.mobile{
      margin: 0 4rem 0 4rem;
  }
}
.imagen {
    background-image: url(../../images/image-product-mobile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    min-height: 25rem;
    border-radius: 1rem 1rem 0 0;
    margin:0;
    @include m.mobile{
      background-image: url(../../images/image-product-desktop.jpg);
        min-width: 50%;
        border-radius: 1rem 0 0 1rem ;
    }

}
.header {
  h2 {
    text-transform: uppercase;
    color: v.$very-dark-blue;
    font-weight: 500;
  }
  h1 {
    font-family: v.$Fraunces;
  }
  @include m.mobile{
      margin-top: 4rem;
  }
}
.descripcion {
  color: v.$very-dark-blue;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}
.precio {
  color: v.$dark-cyan;
  font-family: v.$Fraunces;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-top: 3rem;
  margin-bottom: -2rem;
  p {
    font-size: 3.6rem;
  }

  .precio-antiguo {
    font-size: 1.5rem;
    font-family: v.$monserrat;
    color: v.$dark-grayish-blue;
    text-decoration: line-through;
  }
}

.boton {
  background-color: v.$dark-cyan;
  padding: 2rem;
  border-radius: 1rem;
  margin: 3rem 0 3rem 0;
  a {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  p {
    color: v.$white;
    font-size: 2rem;
  }
  &:hover {
    background-color: darken(v.$dark-cyan, 10%);
  }
}
.attribution {
    margin-top: 5rem;
}